*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 71px);
    gap: 1.5rem;
    margin:1rem;
    background-color: #f4f4f4;
}

.social-media{
    background-color: #7650DC;
    border-radius: 0.5rem;
    grid-column: 2/4;
    grid-row: 1/5;
}

.manage-platforms{
    background-color: white;
    border-radius: 0.5rem;
    grid-column: 2/3;
    grid-row: 5/8;
}

.consistent-schedule{
    background-color: yellow;
    border-radius: 0.5rem;
    grid-column: 3/4;
    grid-row: 5/8;
}

.schedule-social{
    background-color: purple;
    border-radius: 0.5rem;
    grid-column: 4/4;
    grid-row: 1/8;
}

.grow-followers{
    background-color: purple;
    border-radius: 0.5rem;
    grid-column: 3/5 ;
    grid-row: 8/11 ;
}

.faster-growth{
    background-color: white;
    border-radius: 0.5rem;
    grid-column: 2;
    grid-row: 8/11;
}

.create-content{
    background-color: antiquewhite;
    border-radius: 0.5rem;
    grid-column: 1;
    grid-row: 1/6;
}

.ai-powered{
    background-color: antiquewhite;
    border-radius: 0.5rem;
    grid-column: 1;
    grid-row: 6/11;
}