
:root {
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);
    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
    --gray: #f4f4f4;
    --font-size: 18px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif, arial, helvetica;
    font-size: var(--font-size);
    background-color: var(--gray) ;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

img {
    width: 100%;
    display: block;
}

.container {
    display: grid;
    width: 100vw;
    gap: 1rem;
    max-width: 1400px;
    margin: auto;
    padding: 1rem;
}

/* .attribution {
    text-align: center;
    display: block;
} */

/*  Social Media */
.social-media {
    padding: 2rem;
    border-radius: .5rem;
    background-color: var(--purple-500);
    text-align: center;
    color: var(--white);
}

.social-media-title {
    margin-bottom: 1rem;
}

.social-media-title-text{
    color: var(--yellow-500);
}

.social-media-image {
    margin: .5rem auto;
    aspect-ratio: 6/1;
    width: 150px;
}

/* manage-platforms */
.manage-platforms {
    padding: 2rem;
    border-radius: .5rem;
    background-color: var(--white);
    text-align: left;
    
}

.manage-platforms-image {
    width: 250px;
    margin-bottom: 1rem;
}

.manage-platforms-title {
    font-weight: 500;
}

/* consistent-schedule */
.consistent-schedule {
    padding: 2rem 2rem 0 2rem;
    border-radius: .5rem;
    background-color: var(--yellow-500);
    text-align: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.consistent-schedule-title {
    margin-bottom: 10rem;
    font-weight: 500;
}

.consistent-schedule-image {
    position: absolute;
    top: 50%;
    width: 250px;
}

/* schedule-social */
.schedule-social {
    padding: 2rem;
    border-radius: .5rem;
    background-color: var(--purple-100);
    text-align: center;
}

.schedule-social-title {
    margin-bottom: 1rem;
    font-weight: 500;
}

.schedule-social-image {
    width: 250px;
    margin: 1rem auto;
}

/*  grow-followers */
.grow-followers {
    padding: 2rem;
    border-radius: .5rem;
    background-color: var(--purple-500);
    text-align: center;
}

.grow-followers-title {
    font-weight: 500;
    color: var(--white);
    padding: 0 2rem;
}

.grow-followers-image {
    width: 200px;
    margin: 1rem auto;
}

/* faster-growth */
.faster-growth {
    padding: 2rem;
    border-radius: .5rem;
    background-color: var(--white);
    text-align: left;
}

.faster-growth-title {
    font-weight: 500;
    margin-bottom: 1rem;
    font-weight: 500;
}

.faster-growth-image {
    width: 150px;
}

.faster-growth-description {
    margin-bottom: 1rem;
}

/* create-content */
.create-content {
    padding: 2rem;
    border-radius: .5rem;
    background-color: var(--yellow-100);
    text-align: left;
}

.create-content-title {
    font-weight: 500;
    margin-bottom: 1rem;
    font-weight: 500;
}

.create-content-highlight {
    color: var(--purple-500);
    font-style: italic;
}

.create-content-image {
    width: 150px;
}

/* ai-powered */
.ai-powered {
    padding: 2rem;
    border-radius: .5rem;
    background-color: var(--yellow-500);
    text-align: left;
}

.ai-powered-title {
    font-weight: 500;
    margin-bottom: 1rem;
    font-weight: 500;
}

.ai-powered-image {
    width: 200px;
}

@media (min-width: 600px) {
  .container { grid-template-columns: repeat(2, 1fr); }
}

@media  only screen and (min-width: 1440px) {

        h1 {
        font-size: 3.5rem;
        }

        h2 {
        font-size: 2.75rem;
        }

        h3 {
        font-size: 2.35rem;
        }

        h4 {
        font-size: 1.75rem;
        }

    .container {
        max-height: 1400px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:  repeat(10, 71px);
        gap: 1.5rem;
    }

    .social-media {
        grid-column: 2/4;
        grid-row: 1/5;
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .manage-platforms {
        grid-column: 2/3;
        grid-row: 5/8;
        position: relative;
        overflow: hidden;
    }

    .manage-platforms-image {
        position: absolute;
        width: 100%;
    }

    .manage-platforms-title {
        margin-top: 6rem;
    }

    .consistent-schedule {
        grid-column: 3/4;
        grid-row: 5/8;
        height: 100%;
        overflow: hidden;
    }

    .consistent-schedule-title {
        margin-bottom: 1.75rem;
    }


    .schedule-social {
        grid-column: 4/5;
        grid-row: 1/8;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        text-align: left;
        padding: 2.5rem;
    }

    .schedule-social-image {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translateY(-50%);
        width: 400px;
    }

    .grow-followers {
        grid-column: 3/5;
        grid-row: 8/11;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align:left;
    }

    .grow-followers-image {
        margin: 0;
        width: 250px;
    }

    .grow-followers-title {
        flex: 2;
    }

    .faster-growth {
        grid-column: 2/3;
        grid-row: 8/11;
    }

    .create-content {
        padding: 2.5rem;
        grid-column: 1/2;
        grid-row: 1/6;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .create-content-image {
        margin: auto;
        width: 100%;
    }

    .ai-powered {
        grid-column: 1/2;
        grid-row: 6/11;
    }

    .ai-powered-image {
        margin: auto;
        width: 100%;
    }

}